<h4>Sabores</h4>
<hr>
<table class="table table-bordered">
  <tr>
<% @flavours.each_with_index do |flavour, index| %>
  <% if index > 0  and index % 3 == 0 %>
  </tr>
  <tr>
  <% end %>
    <td>
      <div class="row">
        <div class="col-md-7">
          <%= flavour.name %> <br>
          <%= image_tag("#{flavour.url}.jpg", width: 150) %>
        </div>
        <div class="col-md-5">
          Doses: <%= flavour.amount %> <br>
          <%= image_tag("#{flavour.size}.png") %>
          <%= link_to '<i class="fa fa-exchange fa-lg"></i>'.html_safe, trade_flavour_url(flavour), class: 'btn btn-info', alt: 'Trocar' %>
        </div>
      </div>

    </td>
<% end %>
  </tr>
</table>
