<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Troca de Cápsulas Dolce Gusto</h3>
    <hr>
    <p>
      A autenticação deve ser realizada utilizando a conta RHDS (CPF e senha utilizados no windows/linux).
    </p>
    <%= simple_form_for :login, url: authenticate_url , method: :post do |f| %>

      <%= f.input :cpf, :placeholder => 'Informe seu CPF', label: 'CPF', input_html: { class: 'cpf'} %>
      <%= f.input :password, as: :password, label: 'Senha', :placeholder => 'Informe sua senha' %>
      <%= f.submit 'Entrar', :class => 'btn btn-primary' %>

    <% end %>
  </div>
</div>
