<%= simple_form_for @trade do |f| %>
  <%= f.input :flavour_id, as: :hidden %>
  <%= f.label :flavour_ids, label: 'Trocar:' %> <br>
  <div class="row">
    <div class="col-md-4">
      <strong><%= @flavour.name %></strong> <br>
      <%= image_tag("#{@flavour.url}.jpg", width: 150) %>
    </div>
    <div class="col-md-4">
      <%= f.input :amount, as: :integer, input_html: { min:1, value: 1 } %>
    </div>
  </div>
  <%= f.label :flavour_ids, label: 'Por:' %>
  <%= f.input :changes_for, as: :hidden %>
  <div class="row">
    <% @flavours.each_with_index do |flavour, index| %>
      <% if index > 0 and  index % 3 == 0 %>
  </div>
  <div class="row">
      <% end %>
      <div class="col-md-4">
        <%= f.input :flavour_ids, label: false do %>
          <% if @trade.new_record? %>
            <%= check_box_tag 'trade[flavour_ids][]', flavour.id, false, id: "checkbox-flavour-id-#{flavour.id}" %>
          <% else %>
            <%= check_box_tag 'trade[flavour_ids][]', flavour.id, @trade.flavour_ids.map{ |id| id.to_i }.include?(flavour.id), id: "checkbox-flavour-id-#{flavour.id}" %>
          <% end %>
          <strong><%= flavour.name %></strong> <br>
          <%= image_tag "#{flavour.url}.jpg", width: 100, class: 'flavour-image', 'data-flavour-id': flavour.id %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr>
  <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  <%= link_to 'Cancelar', trades_url, class: 'btn btn-default' %>
<% end %>
