<h4>Trocas</h4>
<hr>
<p>
<%= link_to 'Nova troca', flavours_url, class: 'btn btn-primary' %>
</p>
<table class="table table-bordered table-striped">
  <tr>
    <th>Quem</th>
    <th>Troca</th>
    <th>Por</th>
    <th></th>
  </tr>
<% @trades.each do |trade| %>
  <tr>
    <td>
      <%= trade.user.name %> <br>
      <%= trade.user.phone_number %>
    </td>
    <td>
      <%= pluralize( trade.amount, 'cápsula' )%> de
      <%= trade.flavour.name %> <br>
      <%= image_tag "#{trade.flavour.url}.jpg", width: 100 %>
    </td>
    <td style="width: 400px">
      <% trade.flavour_ids.each do |flavour_id| %>
        <div style="float: left; padding: 5px;">
          <%= Flavour.find(flavour_id).name %> <br>
          <%= image_tag "#{Flavour.find(flavour_id).url}.jpg", width: 100 %>
        </div>
      <% end %>
    </td>
    <td>
      <% if trade.user_id == current_user.id %>
        <%= link_to '<i class="fa fa-pencil fa-2x"></i>'.html_safe, edit_trade_url(trade), class: 'btn btn-warning' %>
        <br><br>
        <%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, trade, method: :delete, class: 'btn btn-danger'%>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

