<!DOCTYPE html>
<html>
<head>
  <title>Troca de Cápsulas Dolce Gusto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p></p>
  <div class="content-fluid">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <% if current_user != nil %>
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= root_url %>">Troca de Cápsulas Dolce Gusto</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="<%= 'active' if current_page?(flavours_url) %>">
                    <%= link_to 'Sabores', flavours_url %>
                  </li>
                  <li class="<%= 'active' if current_page?(trades_url) %>">
                    <%= link_to 'Trocas', trades_url %>
                  </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <p class="navbar-text">
                      <%= current_user.name %>
                    </p>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-sign-out"></i>'.html_safe, logout_url, method: :delete, title: 'Sair' %>
                  </li>
                </ul>

              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>


</body>
</html>
